<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MAUZO</title>
  <style>
    @import url("https://fonts.cdnfonts.com/css/poppins");

    body {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      background: #aaa;
      height: 100vh;
      display: grid;
      place-items: center;
    }

    main {
      background-color: rgb(203, 194, 182);
      padding: 1rem;
      text-align: center;
      border-radius: 10px;
    }

    .btn {
      all: unset;
      cursor: pointer;
      padding: 0.5rem 1rem;
      font-weight: bold;
      border-radius: 8px;
      background: rgb(78, 236, 93);
      width: fit-content;
      margin: 0.5rem;
    }
  </style>
</head>

<body>
  <main>
    <h1>Welcome to MAUZO!</h1>
    <p>Login or Sign Up to get started</p>
    <br>
    <div>
      <a href="/register" class="btn">Sign Up</a>
      <a href="/login" class="btn">Login</a>
    </div>
  </main>
</body>

</html>